<div class="panel-activaciones-contenido">
    <div class="activaciones-toolbar">
        <div class="activaciones-tabs">
            <button class="btn btn-sm btn-outline-light activo" id="btn-pota" data-programa="pota">POTA</button>
            <button class="btn btn-sm btn-outline-light" id="btn-sota" data-programa="sota">SOTA</button>
        </div>
        <div class="activaciones-filtros">
            <input type="text" class="form-control form-control-sm" id="activaciones-buscar" placeholder="@L["Act_BuscarReferencia"]" style="width: 200px; display: inline-block;" />
            <button class="btn btn-sm btn-outline-light" id="btn-activaciones-actualizar">@L["Prop_Actualizar"]</button>
        </div>
    </div>
    <div class="activaciones-cards" id="activaciones-cards">
        <!-- Las cards se generan dinamicamente via JS -->
    </div>
    <div class="activaciones-tabla-wrapper">
        <table class="table table-dark table-sm" id="tabla-activaciones">
            <thead>
                <tr>
                    <th>@L["Col_Referencia"]</th>
                    <th>@L["Col_Nombre"]</th>
                    <th>@L["Col_Activador"]</th>
                    <th>Freq</th>
                    <th>@L["Col_Modo"]</th>
                    <th>QSOs</th>
                    <th>@L["Col_UTC"]</th>
                </tr>
            </thead>
            <tbody id="activaciones-tbody">
            </tbody>
        </table>
    </div>
</div>
