<div class="pestanas-secundarias">
    <ul class="nav nav-tabs nav-tabs-dark" id="tabs-secundarias" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="tab-logbook" data-bs-toggle="tab" data-bs-target="#panel-logbook" type="button" role="tab">@L["Tab_Logbook"]</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab-dxcluster" data-bs-toggle="tab" data-bs-target="#panel-dxcluster" type="button" role="tab">@L["Tab_DxCluster"]</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab-dxcc" data-bs-toggle="tab" data-bs-target="#panel-dxcc" type="button" role="tab">@L["Tab_Dxcc"]</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab-propagacion" data-bs-toggle="tab" data-bs-target="#panel-propagacion" type="button" role="tab">@L["Tab_Propagacion"]</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab-activaciones" data-bs-toggle="tab" data-bs-target="#panel-activaciones" type="button" role="tab">@L["Tab_PotaSota"]</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab-contest" data-bs-toggle="tab" data-bs-target="#panel-contest" type="button" role="tab">@L["Tab_Contest"]</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="tab-satelites" data-bs-toggle="tab" data-bs-target="#panel-satelites" type="button" role="tab">@L["Tab_Satelites"]</button>
        </li>
    </ul>
    <div class="tab-content" id="tabs-contenido">
        <div class="tab-pane fade show active" id="panel-logbook" role="tabpanel">
            <partial name="~/Views/Paneles/_Logbook.cshtml" />
        </div>
        <div class="tab-pane fade" id="panel-dxcluster" role="tabpanel">
            <partial name="~/Views/Paneles/_DxCluster.cshtml" />
        </div>
        <div class="tab-pane fade" id="panel-dxcc" role="tabpanel">
            <partial name="~/Views/Paneles/_Dxcc.cshtml" />
        </div>
        <div class="tab-pane fade" id="panel-propagacion" role="tabpanel">
            <partial name="~/Views/Paneles/_Propagacion.cshtml" />
        </div>
        <div class="tab-pane fade" id="panel-activaciones" role="tabpanel">
            <partial name="~/Views/Paneles/_Activaciones.cshtml" />
        </div>
        <div class="tab-pane fade" id="panel-contest" role="tabpanel">
            <partial name="~/Views/Paneles/_Contest.cshtml" />
        </div>
        <div class="tab-pane fade" id="panel-satelites" role="tabpanel">
            <partial name="~/Views/Paneles/_Satelites.cshtml" />
        </div>
    </div>
</div>
